@import "../function";

.top {
  @include heading;
  @include title;
  @include design;

  .design {
    justify-content: flex-start;
  }
  li {
    margin-top: 1rem;
  }
}

.list {
  margin-top: clamp(1.5rem, 2vw, 2rem);

  @include default_button;
}
