@import "../function";

.footer_container {
  // background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-color: hwb(0 15% 85%);
  background-size: cover;
  @include flex(center, center);
  padding: 1rem;

  ul {
    list-style: none;
    & li a,
    p {
      color: white !important;
    }
  }

  .footer_content {
    @include padding;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: flex-start;
    grid-gap: 1rem;

    @include media("<=990px") {
      grid-template-columns: repeat(2, 1fr);

      @include media("<=576px") {
        grid-template-columns: repeat(1, 1fr);
        padding-left: inset;
      }
    }
    // @include laptop {
    //   grid-template-columns: repeat(3, 1fr);
    //   @include tablet {
    //     grid-template-columns: repeat(2, 1fr);

    //     @include mobile {
    //       grid-template-columns: repeat(1, 1fr);
    //     }
    //   }
    // }
    ul {
      width: 100%;
      li {
        margin-top: 1rem;
      }
      p {
        color: $paragraph-color;
      }

      .heading {
        border-bottom: 1px solid $main-color;

        h1 {
          font-size: 2rem;
          font-weight: 600;

          @include media("<=1200px") {
            font-size: 1.6rem;

            @include media("<=990px") {
              font-size: 2rem;
            }
          }
        }
      }
    }

    .list {
      flex: 1;
      color: white;

      a {
        transition: 0.2s;
        color: rgba(192, 192, 192, 0.502);
        cursor: pointer;
        &:hover {
          color: $main-color;
        }
      }
      .icons {
        span {
          transition: $transition;
          margin-left: 0.5rem;
          display: inline-flex;

          border: 1px solid white;
          width: 3rem;
          height: 3rem;
          justify-content: center;
          align-items: center;
          border-radius: 100%;

          &:hover {
            background-color: $main-color;
            color: white;
            border: 1px solid $main-color;
          }
        }
      }
    }
  }
}

.footer_contact {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  &:hover {
    color: $main-color !important;
  }

  & > :nth-child(1) {
    font-size: 2.5rem;
  }

  & > :nth-child(2) {
    text-align: left;
    margin: 0;
  }
}

.dropdown_container {
  position: relative;

  &:hover .dropdown {
    max-height: 10rem;
  }
}

.details {
  & p {
    width: 100%;
    margin: 0;
    padding-block: 0.2rem;
  }
  margin-top: 2rem;
}

.details > p {
  display: flex;
  gap: 1rem;
  align-items: center;
  & > :nth-child(1) {
    font-size: 2rem;
  }
}

.heart {
  color: red;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1.5);
  }
}

@keyframes pulsecolor {
  10% {
    background: #dd0000;
  }
}

.heading {
  & > h1 {
    color: $main-color !important;
  }
}
