@import "../../function";

.picture_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.374), rgba(0, 0, 0, 0.393)),
    url("/tvr-images/banner.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  @include flex(center, center);
  text-align: center;

  li {
    margin-top: 2rem;
  }
  .heading {
    h1 {
      font-size: clamp(3.5rem, 5vw, 7.2rem);
      font-weight: 300;

      .bold {
        font-weight: 700;
        color: $main-color;
      }
    }
  }
}

.contact_button {
  /* From uiverse.io by @nikk7007 */
  button {
    padding: 0.8em 1.8em;
    border: 2px solid $main-color;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    color: rgb(255, 0, 0);
    font-weight: 700;
  }

  button::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: $main-color;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  button:hover::before {
    width: 105%;
  }

  button:hover {
    color: white;
  }
}
