@import "../function";

.mobnav_container {
  padding: 2rem;
  display: none;
  @include media("<=tablet") {
    display: block;
  }
  font-weight: 500;
  position: absolute;
  min-height: calc(100vh - 8rem);
  width: 100vw;
  background-color: white;
  z-index: 2000;
  left: 0;
  top: 8rem;
  overflow-y: scroll;
  color: $black-color;

  a:hover {
    color: red;
    cursor: pointer;
  }

  .sub_menu {
    border: 0.1rem solid rgba(192, 192, 192, 0.603);
    li {
      margin-top: 1.5rem;
      padding: 0rem 0rem 0rem 1rem;
    }
  }

  .home,
  .about_menu,
  .service_menu,
  .portfolio,
  .info_menu,
  .support_menu {
    margin-top: 1rem;

    // li {
    //   a {
    //     &:hover {
    //       color: red;
    //     }
    //   }
    // }
  }
}
