@import "../function";

.content {
  li {
    margin-top: 2rem;
  }

  h1 {
    @include flex(flex-start, center);
    gap: 0.5rem;
    color: $black-color;
  }

  .top {
    h1 {
      font-size: 2.7rem;
    }
  }

  .upper {
    h1 {
      font-size: 1.7rem;
      color: $black-color;
    }
  }
}
