@import "../../function";

.explore_card {
  border: 0.1rem solid rgba(192, 192, 192, 0.37);
  .image {
    img {
      width: 100%;
    }
  }
}

.card_content {
  padding: clamp(0.5rem, 4vw, 1.5rem);
  ul {
    @include default_button;

    .heading {
      h1 {
        font-size: 2rem;
        color: $black-color;
      }
    }
  }
}
