@import "../function";

.intro {
  @include title;
  @include heading;
  @include design;
  text-align: center;

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    section {
      width: 100%;
    }
  }
}

@include default_button;

.right_container {
  li {
    margin-top: 2rem;
  }

  .heading {
    h1 {
      font-size: clamp(1.8rem, 4vw, 2.8rem);
      font-weight: 600;
      color: $black-color;
    }
  }
}

.grid_tabs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  place-items: center;

  @include media("<=990px") {
    grid-template-columns: repeat(2, 1fr);
  }
}

.content {
  margin-top: 2rem;
  padding: 4rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.boosting_image {
  height: 40rem;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.active {
  background-color: $main-color;
  & > * {
    color: white !important;
  }
}
