@import "../../../function";

.card {
  padding: 0;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;

  // &::before {
  //   content: " ";
  //   width: 8%;
  //   height: 100%;
  //   position: absolute;
  //   background-color: $main-color;
  //   z-index: -1;
  //   left: 0;
  //   @include flex(center, center);
  //   text-transform: uppercase;
  //   color: white;
  // }

  .card_heading {
    h1 {
      font-size: 3rem;
      @include media("<=desktop") {
        font-size: 2.8rem;
        @include media("<=490px") {
          font-size: 2.5rem;
        }
      }
      text-transform: uppercase;
      font-weight: 900;
      color: $main-color;
    }

    .left_word {
      display: inline-block;
      background-color: $main-color;
      width: 3.8rem;
      position: absolute;
      height: 100%;
    }
    .right_word {
      margin-left: 4rem;
    }
  }

  .paragraph {
    padding-left: 15%;
  }
}
