@import "/styles/function";

.outer_container {
  background-color: rgba(192, 192, 192, 0.124);
}

.Achivements_container {
  .top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    @include media("<=990px") {
      justify-content: center;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
    }

    h1 {
      font-size: clamp(3rem, 4vw, 5rem);
      color: rgba(0, 0, 0, 0.809);

      width: 50%;

      @include media("<=990px") {
        width: 100%;
      }
    }

    p {
      font-size: clamp(1.6rem, 4vw, 1.8rem);
      width: 80%;
      justify-self: flex-end;

      @include media("<=990px") {
        width: 100%;
      }
    }
  }
}

.icons_container {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 2vw, 2rem);
  & > :nth-child(1) {
    font-size: 3rem;
    background-color: rgb(253, 123, 75);
    width: 5rem;
    color: white;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }

  & > :nth-child(2) {
    h1 {
      color: black;
      font-weight: 500;
      font-size: clamp(3rem, 4vw, 3.5rem);
    }
  }
  p {
    font-size: clamp(1.6rem, 4vw, 1.8rem);
  }
}

.image {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.icon_grid {
  display: flex;
  align-items: center;
  justify-content: end;
  & > section {
    width: 50rem;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & > :nth-child(2) > :nth-child(1) {
      background-color: rgb(108, 164, 255);
    }

    & > :nth-child(3) > :nth-child(1) {
      background-color: rgb(255, 233, 90);
    }

    & > :nth-child(4) > :nth-child(1) {
      background-color: rgb(109, 197, 255);
    }
  }
}
