@import "/styles/function";

.consultation_container {
  background-color: rgba(192, 192, 192, 0.413);

  min-height: 30vh;

  .consultation_left {
    & > :nth-child(1) {
      & > h3 {
        color: #313131;
        font-size: clamp(1.6rem, 4vw, 1.8rem);
      }
    }
    & > :nth-child(2) {
      margin-top: 2rem;
      & > h1 {
        color: #313131;
        font-size: clamp(2rem, 4vw, 5rem);
        font-weight: bold;
      }
    }
  }

  .consultation_right {
    @include default_button;
  }
}
