@import "../../function";

.service_top {
  text-align: center;

  li {
    margin-top: 2rem;
  }

  .heading {
    h1 {
      font-size: clamp(3rem, 4vw, 7rem);
      color: black;
    }
  }
  @include readifont;

  .tabs {
    button {
      background: none;
      border: none;
      outline: none;
    }

    & :nth-child(1) {
      border-bottom-left-radius: 4rem;
      border-top-left-radius: 4rem;
    }

    & :nth-last-child(1) {
      border-bottom-right-radius: 4rem;
      border-top-right-radius: 4rem;
    }
    button {
      border: 0.1rem solid silver;
      padding: 0.8rem 4rem;
      @include media("<=laptop") {
        padding: 0.6rem 3rem;
        @include media("<=tablet") {
          padding: 0.2rem 2rem;

          @include media("<=phone");
          padding: 0.4rem 1rem;
        }
      }
      font-family: "Orbitron", sans-serif;
      font-weight: 500;
      transition: 0.3s;
      font-size: clamp(1.2rem, 2vw, 1.8rem);
      &:hover {
        background-color: $main-color;
        color: white;
      }
    }
  }
}

// image_Grid

.ltr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, auto);

  grid-template-areas: "small ." "small smaller" "bottom bottom" "bottom bottom";

  & :nth-child(1) {
    grid-area: small;
    width: 90%;
  }
  & :nth-child(2) {
    grid-area: smaller;
    justify-self: flex-end;
    width: 60%;
  }

  & :nth-child(3) {
    grid-area: bottom;
    width: 100%;
  }
}

.ltr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, auto);

  grid-template-areas: "small ." "small smaller" "bottom bottom" "bottom bottom";

  & :nth-child(1) {
    grid-area: small;
    width: 90%;
  }
  & :nth-child(2) {
    grid-area: smaller;
    justify-self: flex-end;
    width: 60%;
  }

  & :nth-child(3) {
    grid-area: bottom;
    width: 100%;
  }
}

.rtl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas: ". small" "smaller small" "bottom bottom";

  & :nth-child(1) {
    grid-area: small;
    width: 90%;
  }
  & :nth-child(2) {
    grid-area: smaller;
    justify-self: flex-start;
    width: 60%;
  }

  & :nth-child(3) {
    grid-area: bottom;
    width: 100%;
  }
}

.accord {
  .heading {
    p {
      font-size: clamp(3rem, 4vw, 4rem);
      font-weight: 600;
      color: black;
      font-family: "Montserrat Alternates", sans-serif;
    }
  }

  p {
    font-family: "Montserrat Alternates", sans-serif;
  }
  span {
    color: $main-color;
  }
}
