@import "../function";

.card_content {
  @include flex(flex-start, center);
  gap: 1rem;
  cursor: pointer;
  padding-inline: 2rem;
  height: 10rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  .icons {
    border: 1px dashed $black-color;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &:hover .icons {
    background-color: $main-color;
    color: white;
    border: 1px solid $main-color;
  }

  .heading {
    color: $black-color;
  }
  p {
    font-weight: 500;
  }
}

.card_content2 {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding-inline: 2rem;
  height: 10rem;

  .heading > p {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > :nth-child(1) {
      font-size: 2rem;
    }
  }
}
