@import "../../function";

.whycard_container {
  min-height: 50vh;

  max-width: 30rem;
  text-align: center;
li {
    margin-top: 1rem;
  }

  .heading {
    h1 {
      text-transform: uppercase;
      font-size: clamp(1.5rem, 4vw, 3rem);
    }
  }

  .paragraph {
    p {
      text-transform: capitalize;
      line-height: 2.5rem;
    }
  }
  .icons {
    .hexagono {
      transition: 0.6s;
      &:hover {
        color: rgb(255, 49, 49);
      }
      position: relative;
      @include flex(center, center);
      .inner_icon {
        position: absolute;
      }
    }
  }
}
